@use "reset";

$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

main {
  margin: auto;
}

.article {
  display: flex;
  width: 56rem;
  height: 21rem;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.col-content {
  padding: 2.25rem 3.5rem 0 2.75rem;
  display: flex;
  flex-direction: column;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.col-image {
  background: url("../images/drawers.jpg") no-repeat;
  background-size: cover;
  flex: 38%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.col-right {
  flex: 62%;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: inherit;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $light-grayish-blue;
  padding-bottom: 5px;
}

.description {
  line-height: 1.5;
  color: $grayish-blue;
  margin-bottom: 1.25rem;
}

.heading {
  font-size: 1.6rem;
  margin-bottom: 1.25rem;
  color: $very-dark-grayish-blue;
}

.profile {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 3.5rem 2rem 2.75rem;
  flex-grow: 1;

  .share {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    background-color: $light-grayish-blue;
    border-radius: 50%;
    margin-left: auto;
    transition: 0.3s;
    position: absolute;
    right: 10%;
    z-index: 3;

    svg {
      margin: auto;

      path {
        transition: 0.3s;
      }
    }
  }

  .share:hover {
    background-color: $desaturated-dark-blue;

    svg path {
      fill: hsl(0, 0%, 100%);
    }
  }

  p {
    color: $very-dark-grayish-blue;
    font-weight: 700;
  }

  span {
    color: $grayish-blue;
    align-items: center;
  }

  .avatar {
    width: 3.2rem;
    height: auto;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .social-desktop {
    visibility: hidden;
    position: absolute;
    bottom: 150%;
    right: -13%;
    width: 250px;
    height: 50px;
    background-color: $very-dark-grayish-blue;
    border-radius: 8px;
    opacity: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    z-index: 1;
    transition: opacity 0.3s;

    i {
      color: hsl(0, 0%, 100%);
      font-size: 1.75rem;
    }

    span {
      letter-spacing: 4px;
      text-transform: uppercase;
      font-size: 0.9rem;
      color: $grayish-blue;
    }
  }

  .social-desktop::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 45%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: $very-dark-grayish-blue transparent transparent transparent;
  }

  .social-visible {
    visibility: visible;
    opacity: 1;
  }
}

.social-mobile {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: $very-dark-grayish-blue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.25rem 2.5rem;

  i {
    color: hsl(0, 0%, 100%);
    font-size: 1.65rem;
  }

  span {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 1rem;
    color: $grayish-blue;
  }
}

@media (max-width: 576px) {
  body {
    height: 115vh;
  }

  .article {
    flex-direction: column;
    width: 90%;
    height: 41rem;
    margin: auto;
  }

  .col-content {
    border-radius: unset;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 3rem 2.25rem 0;
  }

  .col-image {
    flex: 42%;
    border-radius: unset;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
  }

  .col-right {
    flex: 58%;
  }

  .container {
    padding: 0 0.7rem 0.5rem;
  }

  .description {
    margin-bottom: 1.5rem;
  }

  .heading {
    font-size: 1.3rem;
  }

  .profile {
    padding: 1.25rem 2.25rem;
    margin-top: auto;
  }
}
