@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
#__next {
  isolation: isolate;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  margin: auto;
}

.article {
  display: flex;
  width: 56rem;
  height: 21rem;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.col-content {
  padding: 2.25rem 3.5rem 0 2.75rem;
  display: flex;
  flex-direction: column;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.col-image {
  background: url("../images/drawers.jpg") no-repeat;
  background-size: cover;
  flex: 38%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.col-right {
  flex: 62%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: inherit;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ecf2f8;
  padding-bottom: 5px;
}

.description {
  line-height: 1.5;
  color: #9eafc2;
  margin-bottom: 1.25rem;
}

.heading {
  font-size: 1.6rem;
  margin-bottom: 1.25rem;
  color: #48556a;
}

.profile {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 3.5rem 2rem 2.75rem;
  flex-grow: 1;
}
.profile .share {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  background-color: #ecf2f8;
  border-radius: 50%;
  margin-left: auto;
  transition: 0.3s;
  position: absolute;
  right: 10%;
  z-index: 3;
}
.profile .share svg {
  margin: auto;
}
.profile .share svg path {
  transition: 0.3s;
}
.profile .share:hover {
  background-color: #6d7f97;
}
.profile .share:hover svg path {
  fill: white;
}
.profile p {
  color: #48556a;
  font-weight: 700;
}
.profile span {
  color: #9eafc2;
  align-items: center;
}
.profile .avatar {
  width: 3.2rem;
  height: auto;
  border-radius: 50%;
  margin-right: 1rem;
}
.profile .social-desktop {
  visibility: hidden;
  position: absolute;
  bottom: 150%;
  right: -13%;
  width: 250px;
  height: 50px;
  background-color: #48556a;
  border-radius: 8px;
  opacity: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  z-index: 1;
  transition: opacity 0.3s;
}
.profile .social-desktop i {
  color: white;
  font-size: 1.75rem;
}
.profile .social-desktop span {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #9eafc2;
}
.profile .social-desktop::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 45%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #48556a transparent transparent;
}
.profile .social-visible {
  visibility: visible;
  opacity: 1;
}

.social-mobile {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: #48556a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.25rem 2.5rem;
}
.social-mobile i {
  color: white;
  font-size: 1.65rem;
}
.social-mobile span {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1rem;
  color: #9eafc2;
}

@media (max-width: 576px) {
  body {
    height: 115vh;
  }

  .article {
    flex-direction: column;
    width: 90%;
    height: 41rem;
    margin: auto;
  }

  .col-content {
    border-radius: unset;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 3rem 2.25rem 0;
  }

  .col-image {
    flex: 42%;
    border-radius: unset;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
  }

  .col-right {
    flex: 58%;
  }

  .container {
    padding: 0 0.7rem 0.5rem;
  }

  .description {
    margin-bottom: 1.5rem;
  }

  .heading {
    font-size: 1.3rem;
  }

  .profile {
    padding: 1.25rem 2.25rem;
    margin-top: auto;
  }
}
